.fiat-container {
    padding: 10px;
}

.fiat-container ul {
    margin: 10px;
    padding: 10px;
    margin-left: 0;
    overflow-x: auto;
    list-style: none;
    max-height: 60px;
    white-space: nowrap;
}

.fiat-container li {
    display: inline;
    padding: 10px;
}
